extends templates/template
block main
  h1 Proyecto Final - JavaScript Desde Cero 
    ul
      li: a(href="./public/lightbox.html") Lightbox
      li: a(href="./public/animated-scroll.html") Animated scroll